<app-busy-indicator [loading]="loading$ | async"></app-busy-indicator>
<div class="container">
  <div *ngIf="selectedBook$ |async as selectedBook">
    <form novalidate (ngSubmit)="save()" [formGroup]="bookForm">
      <div>
        <mat-form-field class="title" color="accent" appearance="fill">
          <mat-label>title</mat-label>
          <input matInput formControlName="title">
          <mat-error>
            <span *ngIf="bookForm.get('title').errors?.required">
              Please enter book title
            </span>
            <span *ngIf="bookForm.get('title').errors?.minlength">
              The book title must be longer than 3 characters
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="bookPublisher" color="accent" appearance="fill">
          <mat-label>Publisher</mat-label>
          <input matInput formControlName="bookPublisher">
          <mat-error>
            <span *ngIf="bookForm.get('bookPublisher').errors?.required">
              Please enter book publisher
            </span>
            <span *ngIf="bookForm.get('bookPublisher').errors?.minlength">
              The book publisher must be longer than 3 characters
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="bookPublishDate" color="accent" appearance="fill">
          <mat-label>Publish Date</mat-label>
          <input matInput [matDatepicker]="bookPublishDatePicker" formControlName="bookPublishDate">
          <mat-datepicker-toggle matSuffix [for]="bookPublishDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #bookPublishDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>

        <mat-form-field class="description" color="accent" appearance="fill">
          <mat-label>description</mat-label>
          <textarea class="descriptionText" matInput formControlName="description" placeholder="Description"></textarea>
        </mat-form-field>

      </div>
      <div>
        <button type="submit" mat-raised-button color="accent" [disabled]="!bookForm.valid"
          [matTooltip]="bookForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>


<!-- <mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Categories</mat-label>
  <mat-chip-list #chipList aria-label="Category selection">
    <mat-chip *ngFor="let category of selectedCategories" (removed)="remove(category)">
      {{category}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="New category..." #categoryInput [formControl]="categoryCtrl" [matAutocomplete]="auto"
      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let category of categories$ | async" [value]="category">
      {{category}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->
